extends layout

block content
    hr
    div(class='row mb-2')
        div(class='col-12')
            h1(class='mb-4') #{action_type} Author
            form(method='post', action='')
                div.form-row
                    div.form-group.col-md-6
                        label(for='first_name') First Name:
                        input#first_name.form-control(type='text', name='first_name', required='true', value=(author===undefined ? '' : author.first_name))
                    div.form-group.col-md-6
                        label(for='family_name') Family Name:
                        input#family_name.form-control(type='text', name='family_name', required='true', value=(author===undefined ? '' : author.family_name))
                    div.form-group.col-md-6
                        label(for='date_of_birth') Date of birth:
                        input#date_of_birth.form-control(type='date', name='date_of_birth', value=(author===undefined ? '' : author.date_of_birth_yyyy_mm_dd))
                    div.form-group.col-md-6
                        label(for='date_of_death') Date of death:
                        input#date_of_death.form-control(type='date', name='date_of_death', value=(author===undefined ? '' : author.date_of_death_yyyy_mm_dd))
                .form-row
                    .form-group.col-md-12
                        button.btn.btn-success(type='submit') #{action_type}

            if errors 
                ul(class='alert alert-warning list-unstyled')
                    for error in errors
                        li!= error.msg