extends layout

block content
    hr
    div(class='row mb-2')
        div(class='col-12')
            h1(class='mb-4') #{action_type} Category
            form(method='post', action='')
                div.form-row
                    div.form-group.col-md-12
                        label(for='name') Name:
                        input#name.form-control(type='text', placeholder='Enter a name', name='name', required='true', value=(category===undefined ? '' : category.name))
                .form-row
                    .form-group.col-md-12
                        button.btn.btn-success(type='submit') #{action_type}

            if errors 
                ul(class='alert alert-warning list-unstyled')
                    for error in errors
                        li!= error.msg